useDynLib("mclm")
# ----------------------------------------------------------------------------
importFrom("ca", "ca")
importFrom("crayon", "bold")
importFrom("dplyr", "bind_rows", "mutate")
importFrom("graphics", "par")
importFrom("grDevices", "rgb")
importFrom("readr", "locale", "read_lines", "write_lines")
importFrom("stats", "fisher.test", "pchisq", "phyper", "pt", "qchisq", "sd")
importFrom("stringr", "str_sort", "str_trim", "str_trunc")
importFrom("stringi", "stri_unescape_unicode", "stri_pad_left", "stri_pad_both", "stri_pad_right")
importFrom("tibble", "as_tibble", "tibble")
importFrom("tm", "DirSource", "TermDocumentMatrix", "VCorpus")
importFrom("utils", "type.convert")    
importFrom("stats", "complete.cases")    
importFrom("XML", "xmlValue")
importFrom("yaml", "as.yaml", "yaml.load")
importFrom("Rcpp", "evalCpp", "sourceCpp")
# ----------------------------------------------------------------------------
S3method("[", "fnames")
S3method("[", "freqlist")
S3method("[", "tokens")
S3method("[<-", "tokens")
S3method("[", "types")
export("as_character")
S3method("as_character", "default")
S3method("as_character", "re")
S3method("as.character", "re")
export("as_conc")
S3method("as.data.frame", "assoc_scores")    
S3method("as.data.frame", "conc")
S3method("as.data.frame", "details.slma")
S3method("as.data.frame", "fnames")    
S3method("as.data.frame", "freqlist")
S3method("as.data.frame", "slma")    
S3method("as.data.frame", "tokens")    
S3method("as.data.frame", "types")    
export("as_freqlist")
export("as_numeric")
S3method("as_numeric", "default")
S3method("as_tibble", "assoc_scores")    
S3method("as_tibble", "conc")
S3method("as_tibble", "fnames")    
S3method("as_tibble", "freqlist")    
S3method("as_tibble", "tokens")    
S3method("as_tibble", "types")    
export("as_tokens")
export("as_types")
export("as_re")
export("as.re")
export("as_fnames")
export("assoc_scores")
export("assoc_abcd")
export("cat_re")
export("chisq1_to_p")
export("cleanup_spaces")
export("col_pcoord")
export("conc")
export("details")
S3method("details", "default")
S3method("details", "slma")
export("drop_bool")
S3method("drop_bool", "default")
S3method("drop_bool", "fnames")
S3method("drop_bool", "freqlist")
S3method("drop_bool", "tokens")
S3method("drop_bool", "types")
export("drop_empty_rc")
export("drop_extension")
export("keep_fnames")
export("drop_fnames")
export("drop_path")
export("drop_pos")
S3method("drop_pos", "default")
S3method("drop_pos", "fnames")
S3method("drop_pos", "freqlist")
S3method("drop_pos", "tokens")
S3method("drop_pos", "types")
export("drop_re")
S3method("drop_re", "default")
S3method("drop_re", "fnames")
S3method("drop_re", "freqlist")
S3method("drop_re", "tokens")
S3method("drop_re", "types")
export("drop_tags")
export("drop_types")
S3method("drop_types", "default")
S3method("drop_types", "fnames")
S3method("drop_types", "freqlist")
S3method("drop_types", "tokens")
S3method("drop_types", "types")
export("explore")
S3method("explore", "assoc_scores")
S3method("explore", "default")
S3method("explore", "conc")
S3method("explore", "fnames")
S3method("explore", "freqlist")
S3method("explore", "tokens")
S3method("explore", "types")
export("find_xpath")
export("fnames_merge")
export("fnames_merge_all")
export("freqlist")
export("freqlist_diff")
export("freqlist_merge")
export("freqlist_merge_all")
export("get_fnames")
export("import_conc")
export("keep_bool")
S3method("keep_bool", "default")
S3method("keep_bool", "fnames")
S3method("keep_bool", "freqlist")
S3method("keep_bool", "tokens")
S3method("keep_bool", "types")
export("keep_fnames")
export("keep_pos")
S3method("keep_pos", "default")
S3method("keep_pos", "fnames")
S3method("keep_pos", "freqlist")
S3method("keep_pos", "tokens")
S3method("keep_pos", "types")
export("keep_re")
S3method("keep_re", "default")
S3method("keep_re", "fnames")
S3method("keep_re", "freqlist")
S3method("keep_re", "tokens")
S3method("keep_re", "types")
export("keep_types")
S3method("keep_types", "default")
S3method("keep_types", "fnames")
S3method("keep_types", "freqlist")
S3method("keep_types", "tokens")
S3method("keep_types", "types")
export("merge_conc")
export("n_fnames")
export("n_tokens")
S3method("n_tokens", "default")
S3method("n_tokens", "freqlist")
S3method("n_tokens", "tokens")
export("n_types")
S3method("n_types", "assoc_scores")
S3method("n_types", "default")
S3method("n_types", "freqlist")
S3method("n_types", "tokens")
S3method("n_types", "types")
export("orig_ranks")
S3method("orig_ranks", "default")
S3method("orig_ranks", "freqlist")
export("orig_ranks<-")
S3method("orig_ranks<-", "default")
S3method("orig_ranks<-", "freqlist")
export("p_to_chisq1")
S3method("plot", "fnames")
S3method("plot", "freqlist")
S3method("plot", "re")
S3method("plot", "summary.re")
S3method("plot", "summary.fnames")
S3method("plot", "summary.freqlist")
S3method("plot", "summary.tokens")
S3method("plot", "summary.types")
S3method("plot", "tokens")
S3method("plot", "types")
S3method("print", "assoc_scores")
S3method("print", "conc")
S3method("print", "details.slma")
S3method("print", "fnames")
S3method("print", "freqlist")
export("print_kwic")
S3method("print", "re")
S3method("print", "summary.re")
S3method("print", "summary.fnames")
S3method("print", "summary.freqlist")
S3method("print", "summary.tokens")
S3method("print", "summary.types")
S3method("print", "slma")
S3method("print", "tokens")
S3method("print", "types")
export("ranks")
S3method("ranks", "default")
S3method("ranks", "freqlist")
export("read_assoc")
export("read_conc")
export("read_fnames")
export("read_freqlist")
export("read_types")
export("read_tokens")
export("read_txt")
export("row_pcoord")
export("scan_re")
export("scan_txt")
export("short_names")
export("perl_flavor")
export("perl_flavor<-")
export("re")
export(re_retrieve_first)
export(re_retrieve_last)
export(re_retrieve_all)
export(re_has_matches)
export(re_which)
export(re_replace_first)
export(re_replace_all)
export("slma")
S3method("sort", "fnames")
S3method("sort", "freqlist")
S3method("sort", "tokens")
S3method("sort", "types")
S3method("sort", "assoc_scores")
S3method("summary", "fnames")
S3method("summary", "freqlist")
S3method("summary", "tokens")
S3method("summary", "types")
S3method("summary", "re")
export("surf_cooc")
export("text_cooc")
export("tokenize")
export("tokens_merge")
export("tokens_merge_all")
export("tot_n_tokens")
S3method("tot_n_tokens", "default")
S3method("tot_n_tokens", "freqlist")
export("tot_n_tokens<-")
S3method("tot_n_tokens<-", "default")
S3method("tot_n_tokens<-", "freqlist")
export("trunc_at")
S3method("trunc_at", "default")
S3method("trunc_at", "tokens")
export("type_freq")
export("type_freqs")
export("type_names")
S3method("type_names", "assoc_scores")
S3method("type_names", "default")
S3method("type_names", "freqlist")
export("types")
export("types_merge")
export("types_merge_all")
export("write_assoc")
export("write_conc")
export("write_fnames")
export("write_freqlist")
export("write_tokens")
export("write_types")
export("write_txt")
export("xlim4ca")
export("ylim4ca")
export("zero_plus")
export("mclm_question")
export("mclm_question_num")
export("mclm_question_text")
# ----------------------------------------------------------------------------



